<!DOCTYPE html>
<html lang="en" ng-app="moviesApp">
<head>
	<meta charset="UTF-8">
	<title>My Movies App</title>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
</head>
<body class="bg" ng-controller="registerCtrl">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6 col-md-3">
				<form name="loginForm" class="form-container table-dark">
					{{app}}
				<center>My Movies app</center>	
				<img src="images/camera.png" class="center" alt="">
				  <div class="form-group">
				    <input type="email" ng-model="user.email" class="form-control" placeholder="enter your email">
				  </div>
				  <div class="form-group">
				    <input type="password" ng-model="user.password" class="form-control" placeholder="password">
				  </div>
				  <div class="form-group form-check">
				  </div>
				  <button ng-click="register(user)" class="btn btn-primary btn-block">Register</button>
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>